body{
    background-color:  #0074D9 ;
    display: flex;
    justify-content: center;

}
.outer{
    font-size: xx-large;
    font-family: sans-serif;
    margin-top: 50px;
    text-align: center;
    /* background-color: darkblue; */
    width: 60%;
}

.search{
    /* background-color: cadetblue; */
    height: 75px;
    width: 100%;
}
.weather-container{

    background-color: darkblue;
    padding: 20px;
}
input[type="text"]{
    height: 50px;
    /* max-width:400px; */
    background: #e7e7e7;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    padding-left: 10px;
}
input[type="submit"]{
    height: 50px;
    width: 100px;
    background: #e7e7e7;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    padding: 10px;
}
img{
    width: 250px;
    /* background-color: darkblue; */
}