body{

    background-color:  #0074D9 ;
    display: flex;
    justify-content: center;

}
.outer{
    font-size: xx-large;
    font-family: sans-serif;
    margin-top: 50px;
    text-align: center;
    /* background-color: darkblue; */
    width: 50%;
}

.search{
    background-color: cadetblue;
}
.weather-container{

    background-color: white;
}
input[type="text"]{
    height: 50 px;
    width: 600px;
    background: #e7e7e7;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    padding: 10px;
}
input[type="submit"]{
    height: 50 px;
    width: 100px;
    background: #e7e7e7;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    /* padding: 10px; */
}
img{
    width: 400px;
    background-color: darkblue;
}