body{
    background-color:  #03396c;
    display: flex;
    justify-content: center;

}
.outer{
    min-width: 350px;
    max-width: 500px;
    font-size: xx-large;
    font-family: sans-serif;
    margin-top: 50px;
    text-align: center;
    /* background-color: darkblue; */
    width: 60%;
}

.search{
    /* background-color: cadetblue; */
    height: 75px;
    width: 100%;
}
.weather-container{
    height: 500px;
    background-color:darkgray;
    border-radius: 15px;

    /* padding: 20px; */
}
input[type="text"]{
    height: 40px;
    width:60%;
    background: #e7e7e7;
    font-family: sans-serif;
    /* font-weight: bold; */
    font-size: 15px;
    border: none;
    border-radius: 7px;
    padding-left: 10px;
}
input[type="submit"]{
    height: 40px;
    width: 100px;
    background: #e7e7e7;
    font-family: sans-serif;
    /* font-weight: bold; */
    font-size: 15px;
    border: none;
    border-radius: 2px;
    /* padding: 10px; */
}
img{
    width: 250px;
    /* background-color: darkblue; */
}